</div>
</div>
<script src="/assets/admin/js/app.min.js"></script>
<script src="/assets/admin/js/chart.min.js"></script>
<script src="/assets/admin/js/domo.calendar.js"></script>
<script src="/assets/admin/js/jqurey-jvectormap-1.2.2.min.js"></script>
<script src="/assets/admin/js/jqurey-jvectormap-world.js"></script>
<script src="/assets/admin/js/jquery.twbsPagination.min.js"></script>
<script src="/assets/admin/js/content.js"></script>
<!--<script src="/assets/admin/js/pre-page"></script>-->
<!-- end demo js-->
</body>
</html>